<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ST通讯录.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AFD985F81C43C76300D12BB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFD986111C43C76300D12BB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFD9861C1C43C76300D12BB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
